nav {
  height: 50px;
  width: 1650px;
  background-color: #20e5f7;
}

nav li {
  float: right;
  display: inline-block;
  margin: 20px 20px 20px 10px;
  color: white;
}

main-image {
  width: 1650px;
  height: 300px;
}

main-image img {
  width: 1650px;
  height: 700px;
}

.descriptions div {
  width: 450px;
  display: inline-block;
  margin: 0px 50px 0px 50px;
}
.descriptions div img {
  align-content: center;
  border-radius: 50%;
  border: blue solid 2px;
}

footer {
  background-color: #1e97cc;
  width: 1650px;
  height: 200px;
}

footer center {
  color: white;
  padding: 20px 0px 0px 0px;

}

footer ul {
  align-content: center;
}

footer ul img {
  padding: 20px 10px 20px 10px;
}

footer a.active {
  color: white;
}
